*{
    box-sizing:border-box;
}
body{
    font-family: tahoma, Arial;
}
.quiz-app{
    margin:20px auto;
    width: 800px;
    background-color: #e0e0e0c7;
    padding:15px;
}
.quiz-info{
    display: flex;
    background-color: #FFF;
    padding: 20px;
    border-radius: 15px;
}
.category{
    flex:1;  
}
.count{
    flex:1;
    text-align: right;
}
.quiz-area{
    background-color: #FFF;
    padding: 20px 20px;
    margin-top: 15px;
    
}
h2{
    margin:0;
}
.answers-area{
    background-color: #fff;
    padding: 0 20px 20px;
    
}
.answer{
    background-color: #f9f9f9;
    padding: 15px;
}
.answer:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
}
input[type="radio"]:checked +label{
    color:#0075ff
}
label{
    cursor: pointer;
    font-weight: bold;
    color:#777;
    font-style: 14px;
    margin: 5px;
    position: relative;
    top:-1;
}
button{
    background-color: #0075ff;
    display: block;
    color: white;
    width: 100%;
    border: none;
    padding:15px 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px auto;
}
button:focus{
    outline:none;
}
.bullets{
    border-top: 1px solid white;
    background-color: #fff;
    display: flex;
    padding: 20px;
}
.spans{
    flex:1;
    display: flex;

}
.bullets .spans span{
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-right: 5px;
    border-radius: 50%;
}
.bullets .spans .on{
    background-color: #0075ff;
}
.bullets .results span{
    font-weight: bold;
}
.bad{
    color: #dc0a0a;
}
.good{
    color: #009688;
}
.perfect{
    color: #0075ff;
}